:root {
	--main-bg-color: #eaf6f6;
	--main-font-color: #4a4a4a;
	--main-color-dark: #66bfbf;
	--main-color-medium: #eaf6f6;
	--input-placeholder: #bac3c3;
	--header-height: 105px;
}

html {
	background: var(--main-bg-color);
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-rows: 1fr;
	font-family: 'Arial', sans-serif;
	color: var(--main-font-color);
	height: 100vh;
}

body {
	margin: 0px;
	padding: 0px;
	display: grid;
	grid-template-rows: 1fr;
}

#sapper {
	display: grid;
	grid-template-rows: auto 1fr;
}

input {
	border: 0 transparent;
	background-color: transparent;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: var(--main-font-color);
	caret-color: var(--main-font-color);
	align-self: start;
	margin-left: -1px;
	margin-bottom: 24px;
}

input:focus {
	outline: none;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--input-placeholder);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--input-placeholder);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--input-placeholder);
}

.buttons-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

button {
	background: transparent;
	border: 0 transparent;
	font-size: 20px;
	font-weight: 400;
	color: var(--main-font-color);
	cursor: pointer;
	justify-self: end;
}

button:disabled {
	color: var(--input-placeholder);
	cursor: not-allowed;
}

button:active:enabled {
	color: orange;
}

button:focus {
	outline: none;
}

.button-left {
	justify-self: start;
	margin-left: -11px;
}
.button-right {
	justify-self: right;
	margin-right: -11px;
	grid-column-start: 2;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
